---
import { getCollection } from "astro:content";
import ProfilePic from "../components/ProfilePic.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import StyledContainer from "../components/reusable/StyledContainer.astro";
import DynamicList from "../components/reusable/DynamicList.astro";

const pageTitle: String = "Sean Lee";

const languages = ["C++", "Python", "Typescript/ Javascript", "HTML/ CSS"];
const gameEngines = ["Godot", "Unreal Engine 5", "Unity"];
const frameworks = [
	"Django",
	"React",
];
const fields = ["Game development", "Frontend web", "Backend web", "Agile development"];

const projects = await getCollection("projects");
---

<style>
	#intro {
		display: flex;
		gap: 4em;
		align-items: center;
		margin-bottom: 2ch;
	}

	#intro h1 {
		margin: 0.5em 0;
	}

	/* Skills styles */
	#skills {
		margin-bottom: 2em;
	}
	#skills h2 {
		margin: 0 0 0.5em 0;
	}
	.skills-grid {
		display: grid;
		justify-self: stretch;
		align-self: stretch;
		grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
	}

	/* Project styles */
	#projects h1 {
		margin: 1em 0;
	}
	.projects-grid {
		display: grid;
		justify-self: center;
		gap: 3em;
		grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
	}

	/* Responsive styles */
	@media screen and (max-width: 1010px) {
		.skills-grid {
			grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
		}
	}
	@media screen and (max-width: 745px) {
		#intro {
			display: block;
		}
	}
	@media screen and (max-width: 940px) {
		.projects-grid {
			/* grid-template-columns: repeat(auto-fit, minmax(12em, 1fr)); */
			grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
		}
	}
	@media screen and (max-width: 400px) {
		.projects-grid {
			grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
		}
	}
</style>

<BaseLayout pageTitle={pageTitle}>
	<div id="intro">
		<ProfilePic />
		<div>
			<h1>Hi, I'm Sean!</h1>
			<p>
				A friendly and highly motivated software engineer and game developer
				with a burning curiosity and a desire to create cool things because
				creating cool things is cool.
			</p>
			<p>
				With a keen interest in programming and videogames, I have been
				developing my own games in my spare time, and throughout my degree, to
				improve my design skills in terms of systems and user interactivity. This 
				has in turn empowered me to take on software engineering roles too.
			</p>
			<p>
				More broadly I have an interest in dabbling in anything that can provide me
				with visual feedback and which users can interact with. I overall seek to 
				leave a positive impact on others and encourage the creation of works that are 
				open and inclusive.
			</p>
			<p>
				I champion a solid work ethic that has enabled me to power through and
				solve problems, I am always willing to learn something new, and I enjoy 
				collaborating with others.
			</p>
		</div>
	</div>
	<div id="skills">
		<StyledContainer>
			<h2>Skills</h2>
			<div class="skills-grid">
				<DynamicList listTitle="Languages" listItems={languages} />
				<DynamicList listTitle="Game Engines" listItems={gameEngines} />
				<DynamicList listTitle="Frameworks" listItems={frameworks} />
				<DynamicList listTitle="Fields" listItems={fields} />
			</div>
		</StyledContainer>
	</div>
	<div id="projects">
		<h1>Projects</h1>
		<div class="projects-grid">
			{
				projects
					.sort(
						(a, b) =>
							b.data.projectDate.getTime() - a.data.projectDate.getTime()
					)
					.map((project) => (
						<ProjectCard
							projectFrontmatter={project.data}
							id={project.id}
						/>
					))
			}
		</div>
	</div>
</BaseLayout>
