---
import BaseLayout from "./BaseLayout.astro";
import StyledContainer from "../components/reusable/StyledContainer.astro";
import StyledContainerSharp from "../components/reusable/StyledContainerSharp.astro";
import IconDotPoint from "../components/reusable/IconDotPoint.astro";

const { frontmatter, slug } = Astro.props;

const embedAspectRatio = frontmatter.gameEmbed ? (frontmatter.gameEmbed.width / frontmatter.gameEmbed.height) * 0.98 : 1.0

---

<style define:vars={{embedAspectRatio}}>
    .sub-heading {
        margin: 0.5em 0 1em 0;
    }

    #game-preview {
        margin-bottom: 2em;
    }
    #game-preview img {
        width: 100%;
        height: auto;
    }
    #game-preview iframe {
        width: 100%;
        aspect-ratio: var(--embedAspectRatio);
    }

    #summary {
        margin-bottom: 2em;
        display: grid;
        grid-template-columns: 2fr 1.25fr;
        gap: 2em;
    }
    #summary ul.links{
        list-style-type: none;
        margin: 0 0.5em;
        padding: 0;
    }
    #summary .links li:first-child {
        margin-top: 1em;
    }
    #summary .links li:not(:last-child) {
        margin-bottom: 1.5em;
    }

    #contact-me {
        text-align: center;
        font-size: 1.3em;
        font-family: 'Raleway';
        margin-top: 2em;
    }

    /* Responsive styles */
    @media screen and (max-width: 800px) {
        #summary {
            display: block;
        }
        #summary div {
            margin-bottom: 2em;
        }
    }
</style>

<BaseLayout pageTitle={frontmatter.title}>
    <div id="breadcrumbs">
        <a href="/">Home</a> > <a href=`/projects/${slug}`>{frontmatter.title}</a>
    </div>
    
    <h1>{frontmatter.title}</h1>
    <h2 class="sub-heading">{frontmatter.subtitle}</h2>

    <div id="game-preview">
        <StyledContainerSharp>
            {
                frontmatter.gameEmbed 
                ?
                <iframe src={frontmatter.gameEmbed.iframeSrc} allowfullscreen="" title={frontmatter.title}>
                    <a href={frontmatter.gameEmbed.url}>Play {frontmatter.title} on itch.io</a>
                </iframe> 
                :
                <img src={frontmatter.heroImage.url} alt={frontmatter.heroImage.alt}>
            }
            
        </StyledContainerSharp>
    </div>

    <div id="summary">
        <div>
            <h2>Summary</h2>
            <p>{frontmatter.summary}</p>
        </div>
        <StyledContainer>
            <b>Specifications</b>
            <ul>
                {frontmatter.specifications.map(spec => <li>{spec}</li>)}
            </ul>
            <b>Links</b>
            <ul class="links">
                {frontmatter.links.itchio && 
                    <li>
                        <IconDotPoint 
                            iconClass="fa-brands fa-itch-io"
                            srIconName="itch.io"
                            iconSize="2.5em"
                            link={frontmatter.links.itchio}
                            text="itch.io"
                        />
                    </li>
                }
                {frontmatter.links.github && 
                    <li>
                        <IconDotPoint 
                            iconClass="fa-brands fa-github"
                            srIconName="GitHub"
                            iconSize="2.5em"
                            link={frontmatter.links.github}
                            text="GitHub"
                        />
                    </li>
                }
                {frontmatter.links.bitbucket && 
                    <li>
                        <IconDotPoint 
                            iconClass="fa-brands fa-bitbucket"
                            srIconName="BitBucket"
                            iconSize="2.5em"
                            link={frontmatter.links.bitbucket}
                            text="BitBucket"
                        />
                    </li>
                }
                {frontmatter.links.techDocs && 
                    <li>
                        <IconDotPoint 
                            iconClass="fa-solid fa-file-lines"
                            srIconName="Technical Documentation"
                            iconSize="2.5em"
                            link={frontmatter.links.techDocs}
                            text="Technical Documentation"
                        />
                    </li>
                }
            </ul>
        </StyledContainer>
    </div>

    <slot />

    <div id="contact-me">
        <StyledContainer>
            Like what I do or want to get in touch? Feel free to <a href="/contact">contact me</a>!
        </StyledContainer>
    </div>
</BaseLayout>
